*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    width: 100%;
    height: 12vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo img{
    width: 60px;
}

.nav-links a{
    text-decoration: none;
    color: black;
    margin: 20px;
}

.nav-links a:hover{
    color: rgb(150, 150, 150);
    transition: .5s;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    height: 4px;
    width: 25px;
    background-color: black;
    margin: 8px 0;
    border-radius: 30px;
}

@media screen and (max-width: 767px) {
    nav{
        width: 100%;
        height: 10vh;
        align-items: center;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 85vh;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #ffffff;
        margin-top: 40px;
        z-index: 1;
      }
    
      .nav-links.show {
        display: flex;
      }
    
      .logo img {
        width: 40px;
      }
    
      .nav-links a {
        display: block;
        margin: 15px 40px;
        font-weight: bold;
        font-size: 36px;
      }
    
      .hamburger {
        display: block;
      }
    }